/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
Colors used

Primary Color (grey): #85837F
Background Color (beige): #EAE7DC;
Secondary Color (orange): #E85A4F;
 */
 :root {
   --primar-color: #85837F;
   --secondary-color: #E85A4F;
   --secondary-color-ligher: #E98074;
   --background-color: #EAE7DC;
   --a-color: black;
   --box-color: #DBCEBC;
   --form-bg-color: #D8C3A5;
   --table-border-color: #E15F55;
   --border-bottom-color: #85837F;
   --text-align-center: center;
 }
body {
  background-color: var(--background-color);
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-size: 16px;
  color: var(--primar-color);
  line-height: 1.6;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.body_content {
  display: block;
  text-align: center;
  margin-top: 80px;
}
h1 {
  font-size: 43px;
  font-weight: 700;
  color: var(--secondary-color);
}
h2 {
  font-size: 28px;
  font-weight: 500;
}
#contact_me {
  color: var(--secondary-color);
}
h3 {
  font-size: 18px;
  font-weight: 300;
}
p {
  font-size: 18px;
}
a {
  color: var(--a-color);
  text-decoration: none;
  font-size: 25px;
}
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px;
}
.navigation_item {
  display: inline-block;
  margin-left: 15px;
}
.page-header_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100px;
          flex: 0 1 100px;
  padding: 10px;
}
.page-header_item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}
#logo_header {
  display: inline-block;
  width: 180px;
  height: 40px;
}
.profile {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 80px;
}
.profile_photo {
  float: left;
  width: 200px;
  margin: 40px;
}
a:visited {
  color: black;
}
a:hover, a:focus {
  text-decoration: none;
  color: var(--secondary-color-ligher);
}
a:active {
  color: var(--secondary-color);
}
#cv_link:hover {
  color: black;
}
#checkout_link {
  font-size: 22px;
}
.contact_link {
  font-size: 20px !important;
}
.grid {
  display: -ms-grid ;
  display: grid ;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  -ms-margin: 50px;
}
.grid__item {
  background-color:var(--box-color);
  padding: 10px;
  border-radius: 15px;
  border-bottom: 4px solid;
  border-bottom-color: var(--border-bottom-color);
}

button,.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--secondary-color);
  color: black;
  text-decoration: none;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
  border-bottom: 2px solid;
  border-bottom-color: var(--border-bottom-color);
  width: 90px;
  height: 33px;
  -webkit-transition: 0.4s opacity ease-in-out;
  -o-transition: 0.4s opacity ease-in-out;
  transition: 0.4s opacity ease-in-out;
}
button:hover, button:focus,.button:hover,.button:focus {
  cursor: pointer;
  opacity: 0.8;
}
.form-block {
  display: inline-block;
  text-align: var(--text-align-center);
  border: solid #E15F55;
  border-width: medium;
  border-radius: 10px;
  padding: 30px 25px;
}
.form-block:hover {
  -webkit-box-shadow: 4px 3px 19px 0px #A1A2A7;
          box-shadow: 4px 3px 19px 0px #A1A2A7;
}
#contact-email, #contact-name {
  width: 130px;
  height: auto;
  font-size: 16px;
}
#contact-message {
  max-width: 130px;
  max-height: 150px;
  font-size: 16px;
}
.standard-label {
  display: inline-block;
  font-size: 18px;
  width: 60px;
  padding: 5px;
  text-align: right;
}
textarea {
  margin-top: 10px;
  border: inherit;
}
.form-button {
  padding-top: 20px;
}

table {
  border: dashed;
  border-color: var(--table-border-color);
  border-spacing: 18px;
  margin: auto;
}
.berlin-animation {
  text-align: center;
  padding-top: 120px;
}
.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}
.cloud-front {
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-name: cloud-move;
          animation-name: cloud-move;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
          animation: 34s cloud-move-reverse infinite alternate linear;
}
.footer {
  text-align: center;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 180px;
  margin: auto;
}
.social_media_logo {
  padding: 5px;
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    -ms-grid-columns: 1fr 15px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 32px;
  }
}
@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(150px, 50px);
            transform: translate(150px, 50px);
  }
}
@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(150px, 50px);
            transform: translate(150px, 50px);
  }
}
@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}
@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}
